@{
    var controller = ViewContext.RouteData.Values["Controller"];
    var action = ViewContext.RouteData.Values["action"];
    Dictionary<string, string> menuClassNames = new Dictionary<string, string>();
    menuClassNames["Products"] = "";
    menuClassNames["ProductAttributes"] = "";
    menuClassNames["ProductCategory"] = "";
    menuClassNames["ProductAttributeLookup"] = "";
    menuClassNames[(string)controller] = "mdc-list-item--activated";

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CTRD.ECommerce.Web</title>

    <environment include="Development">
        <!-- Styles -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="~/css/material-components-web.css">
        <link rel="stylesheet" href="~/css/syncfusion-material.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="mdc-typography e-bigger loading">
    <header class="mdc-top-app-bar pace-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start pace-branding">
                <button id="sidebarCollapse" class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
                <span class="mdc-top-app-bar__title">
                    <img src="~/img/logo.png" alt="CTRD Logo" class="pace-logo" style="margin-top: 8px;" />
                </span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                <a class="mdc-top-app-bar__action-item pace-account-link">
                    <span class="pace-icon-circle">
                        <i class="material-icons" aria-hidden="true">person</i>
                    </span>
                    <span class="pace-welcome">
                        Welcome
                        <span class="pace-welcome-name">
                            Jhon Doe
                        </span>
                    </span>
                </a>
            </section>
        </div>
    </header>
    <div class="pace-content-root mdc-top-app-bar--fixed-adjust">
        <aside class="pace-sidebar mdc-drawer">
            <div class="mdc-drawer__content">
                <nav class="mdc-list">
                    <a class='mdc-list-item @menuClassNames["Products"]' asp-controller="Product" asp-action="Index">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i>
                        <span class="mdc-list-item__text">Products</span>
                    </a>
                    <a class='mdc-list-item @menuClassNames["ProductAttributes"]' asp-controller="ProductAttribute" asp-action="Index">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">developer_board</i>
                        <span class="mdc-list-item__text">Product Attributes</span>
                    </a>
                    <a class='mdc-list-item @menuClassNames["ProductCategory"]' asp-controller="ProductCategory" asp-action="Index">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i>
                        <span class="mdc-list-item__text">Product Category</span>
                    </a>
                    <a class='mdc-list-item @menuClassNames["ProductAttributeLookup"]' asp-controller="ProductAttributeLookup" asp-action="Index">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">developer_board</i>
                        <span class="mdc-list-item__text">Product Attribute Lookup</span>
                    </a>
                </nav>
            </div>
        </aside>
        <main class="main-content" id="main-content">
            <div class="" style="">
                @RenderBody()
            </div>
        </main>
    </div>



    <environment include="Development">
        <script src="https://unpkg.com/es6-promise@4/dist/es6-promise.auto.min.js"></script>
        <script src="https://unpkg.com/material-components-web@3/dist/material-components-web.min.js"></script>
        <script src="https://unpkg.com/&#64;syncfusion/ej2@17/dist/ej2.min.js"></script>
        <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Product.js" asp-append-version="true"></script>
    <script src="~/js/ProductCategory.js" asp-append-version="true"></script>
    <script src="~/js/ProductAttribute.js" asp-append-version="true"></script>
    <script src="~/js/ProductAttributeLookup.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            CTRD.Base.init();
        });
    </script>
    <!-- Syncfusion Essential JS 2 ScriptManager -->
    <ejs-scripts></ejs-scripts>
    @RenderSection("Scripts", required: false)
</body>
</html>
